div{
    width: 100px;
    height: 50px;
    padding: 5px;
    background-color: rgba(139, 138, 138, 0.253);
    margin: 10px, 20px;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.a{
    box-shadow: -3px -3px ;
}

.b{
    box-shadow: -5px -5px 3px ;
}

.c{
    box-shadow: 5px 6px inset;
}

.d{
    box-shadow: -5px -8px 3px;
}

.e{
    border: 2px solid black;
}

.f{
    border: 3px solid black;
}

.g{
    box-shadow: 3px 3px;
}

.h{
    box-shadow: 5px 5px 3px;
}

.i{
    box-shadow: -5px -6px inset;
}

.j{
    box-shadow: 5px 8px 3px;
}

.k{
    border: 2px solid black
}

.l{
    border: 3px solid black
}